<%- include('./partials/head') %>
	

	<% if (cookies.usuarioLogueado !== undefined || locals.userSession !== undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

	<!-- Banner -->
	<div class="banner">
		<img src="images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto">
						<figure class="product-box_image">
							<img src="images/products/inter-dragon.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Inter Dragon 2009</h2>
							<p>Camiseta del inter de milan 09/10</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto">
						<figure class="product-box_image">
							<img src="images/products/arsenal.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Arenal 2005</h2>
							<p>Camiseta Arsenal 05/06</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto">
						<figure class="product-box_image">
							<img src="images/products/barca.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Barca 2024</h2>
							<p>Camiseta Barcelona 23/24</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto">
						<figure class="product-box_image">
							<img src="images/products/rm.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Real Madrid 2017</h2>
							<p>Camiseta Real Madrid 17/18</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto">
						<figure class="product-box_image">
							<img src="images/products/man-city.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Man City 2024</h2>
							<p>Camiseta Manchester City 23/24</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto">
						<figure class="product-box_image">
							<img src="images/products/man-utd.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Man Utd 2024</h2>
							<p>Camiseta Manchester United 23/24</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto">
						<figure class="product-box_image">
							<img src="images/products/roma.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Roma 2024</h2>
							<p>Camiseta de la roma 23/24</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto">
						<figure class="product-box_image">
							<img src="images/products/casla.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>San Lorenzo 2021</h2>
							<p>Camiseta de San Lorenzo De Almagro 21/22</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->
<%- include('./partials/footer') %>	