<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="products-title">Ingresar</h2>
		</div>
		<!-- Show the "ultimos" products -->
		<h2 class="col-12"> 
			<form class="form-login" action="" method="get">
				<label for="email">Usuario:</label>
				<input type="email" placeholder="pcv@udesa.edu.ar" required><br><br>
				<label for="pass">Contraseña:</label>
				<input type="password" placeholder="*******" required><br><br>
				<label for="recordar">Recordame:</label>
				<input type="checkbox"  required><br><br>
				<button type="submit" >Enviar</button>

			</form>
		</h2>

<%- include('./partials/footer') %>
	