<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="products-title">Ingresar</h2>
		</div>
		<!-- Show the "ultimos" products -->
		<h2 class="col-12"> 
			<form class="form-login" action="/usuario/login" method="post">
				<input type="email" placeholder="Email" required><br><br>
				<input type="password" placeholder="Password" required><br><br>
				<input type="checkbox"  required><br><br>
				<label for="recordarme">Recordame:</label>
				<button type="submit" >Enviar</button>

			</form>
		</h2>

<%- include('./partials/footer') %>
	