<%- include('./partials/head') %>
<%- include('./partials/headerLogueado') %>

<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="products-title">Agregar productos</h2>
		</div>
		<!-- Show the "ultimos" products -->
		<h2 class="col-12">
			<form class="form-add-product" action="" method="get">
				<label for="fotoProductoNuevo">Imagen del producto:</label>
				<input type="file" placeholder="ingresar archivo.jpg" required><br><br>
				<label for="nombreProductoNuevo">Nombre del producto:</label>
				<input type="text" placeholder="Producto" required><br><br>
				<label for="descripcionProductoNuevo">Descripción:</label>
				<input type="text" placeholder="Descripción del producto" required><br><br>
				<button type="submit" >Enviar</button>

			</form>
		</h2>

<%- include('./partials/footer') %>