<%- include('./partials/head') %>
<%- include('./partials/header') %>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form class="form-register" action="" method="get">
				<label for="email">Email:</label>
				<input type="email" placeholder="pcv@udesa.edu.ar" required><br><br>
				<label for="user">Usuario:</label>
				<input type="text" placeholder="PCVcamisetas" required><br><br>
				<label for="pass">Contraseña:</label>
				<input type="password" placeholder="*******" required><br><br>
				<label for="fecha-nacimiento">Fecha De Nacimiento:</label>
				<input type="date" required><br><br>
				<label for="documento">Documento:</label>
				<input type="number" placeholder="46649856" required><br><br>
				<label for="fotoPerfil">Foto de Perfil:</label>
				<input type="text" placeholder="Ingresar archivo .jpg" required><br><br>
				<button type="submit" >Enviar</button>

			</form>
			</h2>

<%- include('./partials/footer') %>
